<%- include('partials/header') %>
<div class="card">
    <h1 class="card-title"><%= message %></h1>
    <p style="text-align: center;">Welcome to your WS2 E-commerce Project!</p>
</div>
<%- include('partials/footer') %>