<div class="row justify-content-center mt-5">
    <div class="col-lg-5 col-md-7">
        <div class="text-center">
            <h1 class="h2 mb-4">Reset Your Password</h1>
        </div>
         
        <form action="/password/reset/<%= token %>" method="POST">
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control form-control-lg" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control form-control-lg" id="confirm" name="confirm" required>
            </div>
            
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
            </div>
        </form>
    </div>
</div>